
.mr-nav {padding: 0 60px 100px;height: 100vh;position: fixed;z-index: 100;}
svg.mr-logo {fill:white!important;max-width: 250px;min-width: 70px;}
svg.mr-rect {fill:transparent;stroke: white; stroke-width: 6;max-width: 50px;max-height:50px;min-width: 30px;min-height: 30px;overflow: visible;}
svg.mr-rect:hover {fill: white;}
svg.mr-rect rect {width: 50px;height: 50px;}
svg.mr-triangle {fill:transparent;stroke: white;stroke-width: 6;width: 53px;max-width: 100%;min-width: 30px;height:auto;overflow: visible;transform: rotate(180deg);}
svg.mr-triangle:hover {fill: white;}
svg.mr-circle {width:60px;max-width: 100%;min-width: 30px;height: auto;stroke-width: 6;stroke: white;overflow: visible;fill: transparent;}
svg.mr-circle:hover {fill: white;fill-opacity: .25;}
.mr-avatar {background: url(/images/misaruiz-avatar.jpg);background-size: cover;width: fit-content;border-radius: 30px;margin: 30px auto 30px;}


.mr-imgcontainer {
  position: relative;
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  overflow: hidden;
  margin-bottom: 30px;
}

.mr-imgbox {
  position: absolute;
  top: 50%;
  left: 50%;
  bottom: 0;
  right: 0;
  overflow: hidden;
  height: 100%;
  width: auto;
  transform: translate(-50%, -50%);
}

.mr-maincontent {padding:60px 60px 60px 0;}

/* Mobile items */
@media (max-width: 575.98px) {
  .mr-nav {padding: 0 0 60px 15px;}
  .mr-maincontent {padding:15px 0px 30px 0;}

}