
.mr-nav {padding: 60px;height: 100vh;}
svg.mr-logo {fill:white!important;width: 100px;}
svg.mr-rect {fill:transparent;border: white 6px solid;width: 60px;height:60px;}
svg.mr-triangle {fill:transparent;border: white 6px solid;width: 60px;height:auto;}
img.mr-circle.mr-avatar {width: 60px;height: 60px;border: white 6px solid;border-radius: 30px;padding: 30px 0;}